 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
 }
 
 
 nav{
    background-color: black;
    height: 80px;
    max-width: 100%;
    align-content: center;
    
}

li {
     display: inline-block;
    margin-inline: 10px; 
   
    
  
  
}
a:hover {
    color:black;
    background-color: white;
}


li a {
    
    text-decoration: none;
    color: white;
    font-size: 85%;
    
    
}

 button {
    height: 50px;
    width: 300px;
    margin-left: 400px;
    border-radius: 50px;
    font-size: 90%;
    
}

button i {
     margin-left: 50px;
     font-size: 120%;   
}

button img {
    height: 15px;
    width: 50px;
    margin-left: 80px;
    
 }  

.dropdown {
    position: relative;
    display: inline-block;
  
    
}

.dropdown-content {
    position: absolute;
    display: none;
    background-color: white;
    font-size: 80%;
    width: 75px;
    height: 100px;
    padding: 0;
    
    
       
    
}

.dropdown-content li {
    list-style: none;
    
     margin-top: 10px;
     border-bottom: 1px dotted green   
}

.dropdown-content li a {
    text-decoration:none;
    color: green;
    margin-left: 0px;
    font-size: 90%;
    
   
}

.dropdown:hover .dropdown-content {
    display: block;
    
}




table {
    width: 100%;
    height: 300px;
    border: 1px solid black;
    /* background-color: gray; */
}

th {
    background-color: green;
    color: white;
}

td {
    border-right: 1px solid black
    ;
    text-align: center;
}

tr:hover {
  color:white;
  background-color: green;
  cursor: pointer;
}

tr:nth-child(even){
    background-color: antiquewhite;
}

